
<% if current_user == @conversation.originator %>
  <h1> <%= @conversation.subject %> </h1>
<%else%>
  <h1> <%= @conversation.originator.full_name %> </h1>
<% end %>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div> 
  <%= receipt.message.sender.full_name %>  said: 
  <br>
  <%= receipt.message.body %>
  </div>
  <br>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <div>
  <%= text_area_tag :body %>
  </div>

  <%= submit_tag "Send Message" %>
<% end %>