<h1> Edit Your Profile </h1>

<%= form_tag "/#{@user.id}", method: :patch do%>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @user.first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @user.last_name %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, @user.email %>
  </div>
  <div> 
    <%= label_tag :age %>
    <%= text_field_tag :age, @user.age  %>
  </div>
  <div> 
    <%= label_tag :location %>
    <%= text_field_tag :location, @user.location%>
  </div>
  <div>
    <%= label_tag :bio %>
    <%= text_area_tag(:bio, @user.bio, size: "24x6") %>
  </div>
  <%= submit_tag "Update Profile" %>
<% end %>