<!-- NAVBAR -->
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  
                  <h1 class="site-title"><a href="/" rel="home">EVENTITY.</a></h1>

                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Profile</a>
                        <ul class="sub-menu">
                        <% if current_user %>
                          <li class="menu-item"><a href="index.html"></a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>">View Profile</a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>/edit">Edit Profile</a></li>
                          <li class="menu-item"><a href="/logout">Log Out</a></li>
                        <% else %>
                          <li class="menu-item">
                            <a data-toggle="modal" href="/signup" data-target="#myModal"> Sign up</a>
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                 <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                     </div>
                                     <div class="modal-body"> 
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                       <button type="button" class="btn btn-primary">Save changes</button>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                          </li>
                          <li class="menu-item">    
                          <a data-toggle="modal" href="/login" data-target="#myModal"> Log in</a>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                               <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                   </div>
                                   <div class="modal-body">
                                     
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                     <button type="button" class="btn btn-primary">Save changes</button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                          </li>
                          <li class="menu-item"><a href="index-list-sidebar.html">Home list sidebar</a></li>
                        <% end %>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Events</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/events">All Upcoming Events</a></li>
                          <li class="menu-item"><a href="#">Event Categories</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/categories/1">Animals</a></li>
                              <li class="menu-item"><a href="/categories/2">Environment</a></li>
                              <li class="menu-item"><a href="/categories/3">Education</a></li>
                              <li class="menu-item"><a href="/categories/4">Arts and Culture</a></li>
                              <li class="menu-item"><a href="/categories/5">Community</a></li>
                              <li class="menu-item"><a href="/categories/6">Fundraising</a></li>
                            </ul>
                            <% if current_user %>
                              <li class="menu-item"><a href="/events/new">Add New Event</a></li>
                            <%end%>
                            <li class="menu-item"><a href="/events/random">**Feeling <i> spontaneous</i>?**</a></li>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/categories/8">Volunteer Programs</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
<div class="container-fluid">
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
      <% if current_user == @user %> 
            <div class="container">
              <div class="row"> 
              <h2> What's up <%= @user.first_name %>! </h2>
                <div class="col-md-6">
                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="<%= @user.avatar %>" alt="<%= @user.first_name %>">
                      <div class="about-author-info">
                        <h2 class="widget-title"><%= @user.full_name %></h2>
                        <span class="author-subtitle"><%= @user.location %></span>
                        <span class="author-subtitle">Age: <%= @user.age %></span>
                        <span class="author-subtitle">Email: <%= @user.email %></span>
                        <div class="author-description">
                          <p><%= @user.bio %></p>
                          <a href="/users/<%= @user.id %>/edit" class="more-link"><span class="moretext">Edit Profile</span></a>
                          <a href="/conversations" class="more-link"><span class="moretext">View Messages</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section><!-- .danish_widget_about -->
                </div> <!-- col-md-6 -->
                <div class="col-md-6">
                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Your upcoming events:</h2>
                    <ul>
                      <li>
                  <%if @upcoming_events.length == 0%>
                        <p><i>No Events</i> </p>
                        <%else%>
                    <% @upcoming_events.each do |upcoming_event| %>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="<%=upcoming_event.avatar_file_name%>" alt="/events/<%=upcoming_event.id%>">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/events/<%=upcoming_event.id%>" rel="bookmark"></a>
                            </h4>
                            <span class="entry-category"><a href="/events/<%=upcoming_event.id%>"><%=upcoming_event.title%></a></span>
                            <span class="entry-datetime"><%=upcoming_event.date%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      <%end%>
                  <%end%>
                      </li>
                    </ul>
                  <h2 class="widget-title">Your past events:</h2>
                    <ul>
                      <li>
                  <%if @past_events.length == 0%>
                    <p><i> No Events </i></p>
                  <%else%>
                    <% @past_events.each do |past_event| %>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="/images/default.png" alt="/events/<%=past_event.id%>">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/events/<%=past_event.id%>" rel="bookmark"></a>
                            </h4>
                            <span class="entry-category"><a href="/events/<%=past_event.id%>"><%=past_event.title%></a></span>
                            <span class="entry-datetime"><%=past_event.date%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                    <%end%>
                  <%end%>
                      </li>
                    </ul>
                <h2 class="widget-title"> **Events that you host**:</h2>
                    <ul>
                      <li>
                  <%if @hosted_events.length == 0%>
                    <p><i> No Events </i></p>
                  <%else%>
                    <% @hosted_events.each do |hosted_event| %>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="/images/default.png" alt="/events/<%=hosted_event.id%>">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/events/<%=hosted_event.id%>" rel="bookmark"></a>
                            </h4>
                            <span class="entry-category"><a href="/events/<%=hosted_event.id%>"><%=hosted_event.title%></a></span>
                            <span class="entry-datetime"><%=hosted_event.date%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                    <%end%>
                  <%end%>
                      </li>
                    </ul>
                  </section><!-- .danish_widget_popular_entries -->
                </div> <!-- col-md-6 -->
               <section class="widget widget_recent_comments">
                    <h2 class="widget-title">Recent Comments</h2>
                    <ul id="recentcomments">
                  <%if @user.comments.length == 0%>
                    <p><i>No Comments</i></p>
                    <%else%>
                    <% @user.comments.each do |comment| %>
                      <li>
                        <a href="/events/<%=comment.event_id%>"><span class="comment-author-link"><%=comment.event.title%></span></a> 
                        "<%=comment.body%>"
                      </li>
                    <%end%>
                <%end%>
                    </ul>
                  </section><!-- .widget_recent_comments -->
                </div><!-- .col-md-4 -->
              </div><!-- .row -->
            </div><!-- .container -->
        <% else %>
                <div class="col-md-6">
                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="/images/default.png" alt="<%= @user.first_name %>">
                      <div class="about-author-info">
                        <h2 class="widget-title"><%= @user.full_name %></h2>
                        <span class="author-subtitle"><%= @user.location %></span>
                        <span class="author-subtitle">Age: <%= @user.age %></span>
                        <span class="author-subtitle">Email: <%= @user.email %></span>
                        <div class="author-description">
                          <p><%= @user.bio %></p>
                          <a href="/conversations/new?user_id=<%=@user.id%>" class="more-link"><span class="moretext">Message</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section><!-- .danish_widget_about -->
                </div> <!-- col-md-6 -->
                <div class="col-md-6">
                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title"> Upcoming events:</h2>
                    <ul>
                      <li>
                  <%if @upcoming_events.length == 0%>
                    <p><i>No Events</i></p>
                  <%else%>
                    <% @upcoming_events.each do |upcoming_event| %>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="/images/default.png" alt="/events/<%=upcoming_event.id%>">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/events/<%=upcoming_event.id%>" rel="bookmark"></a>
                            </h4>
                            <span class="entry-category"><a href="/events/<%=upcoming_event.id%>"><%=upcoming_event.title%></a></span>
                            <span class="entry-datetime"><%=upcoming_event.date%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                    <%end%>
                  <%end%>
                      </li>
                    </ul>
                  <h2 class="widget-title">Past events:</h2>
                    <ul>
                      <li>
                  <%if @past_events.length == 0%>
                    <p><i>No Events</i></p>
                  <%else%>
                    <% @past_events.each do |past_event| %>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="/images/default.png" alt="/events/<%=past_event.id%>">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/events/<%=past_event.id%>" rel="bookmark"></a>
                            </h4>
                            <span class="entry-category"><a href="/events/<%=past_event.id%>"><%=past_event.title%></a></span>
                            <span class="entry-datetime"><%=past_event.date%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                    <%end%>
                  <%end%>
                      </li>
                    </ul>
                  <h2 class="widget-title"> **Events that they host**:</h2>
                    <ul>
                      <li>
                  <%if @hosted_events.length == 0%>
                    <p><i> No Events </i></p>
                  <%else%>
                    <% @hosted_events.each do |hosted_event| %>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="<%=hosted_event.avatar.url%>" alt="/events/<%=hosted_event.id%>">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/events/<%=hosted_event.id%>" rel="bookmark"></a>
                            </h4>
                            <span class="entry-category"><a href="/events/<%=hosted_event.id%>"><%=hosted_event.title%></a></span>
                            <span class="entry-datetime"><%=hosted_event.date
                            %></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                    <%end%>
                  <%end%>
                      </li>
                    </ul>
                  </section><!-- .danish_widget_popular_entries -->
                </div> <!-- col-md-6 -->
               <section class="widget widget_recent_comments">
                    <h2 class="widget-title">Recent Comments</h2>
                    <ul id="recentcomments">
                  <%if @user.comments.length == 0%>
                    <p><i>No Comments </i></p>
                    <% @user.comments.each do |comment| %>
                      <li>
                        <a href="/events/<%=comment.event_id%>"><span class="comment-author-link"><%=comment.event.title%></span></a> 
                        "<%=comment.body%>"
                      </li>
                    <%end%>
                  <%end%>
                    </ul>
                  </section><!-- .widget_recent_comments -->
                </div><!-- .col-md-4 -->
              </div><!-- .row -->
            </div><!-- .container -->
          <%end%>
          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->
  </div>


      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->
