
<div>
  <%= label_tag :title %>
  <%= text_field_tag :title, @event.title %>
</div>
<div>
  <%= label_tag :date %>
  <%= datetime_local_field_tag :date, (@event.date || DateTime.now).strftime("%Y-%m-%dT%H:%M") %></div>
<div>
  <%= label_tag :start_time %>
  <%= datetime_local_field_tag :start_time, (@event.start_time || DateTime.now).strftime("%Y-%m-%dT%H:%M") %>
</div>
<div>
  <%= label_tag :end_time %>
  <%= datetime_local_field_tag :end_time, (@event.end_time || DateTime.now + 1.hour).strftime("%Y-%m-%dT%H:%M") %>
</div>
<div>
  <%= label_tag :address %>
  <%= text_field_tag :address, @event.address%>
</div>
<div>
  <%=file_field_tag :avatar %>
</div>
<div>
  <%= label_tag :description %>
  <%= text_area_tag(:description, @event.description, size: 550, maxlength:  4000) %>
</div>


<div>
  <%= label_tag :categories %>
  <%= select_tag :categories, options_from_collection_for_select(@categories, :id, :title, @categories.map {|category| category.id}), multiple: true%>
</div>
