<div>
  <%= label_tag :title %>
  <%= text_field_tag :title, @event.title %>
</div>
<div>
  <%= label_tag :date %>
  <%= text_field_tag :date, @event.date %>
</div>
<div>
  <%= label_tag :start_time %>
  <%= text_field_tag :start_time, @event.start_time %>
</div>
<div>
  <%= label_tag :end_time %>
  <%= text_field_tag :end_time, @event.end_time %>
</div>
<div>
  <%= label_tag :address %>
  <%= text_field_tag :address, @event.address%>
</div>
<div>
  <%= label_tag :description %>
  <%= text_area_tag(:description, @event.description, size: "24x6") %>
</div>

<!-- <label>Categories:</label>
   <label ng-repeat="category in categories">
            <input type="checkbox" data-checklist-model="newEventCategory" data-checklist-value="{{category.id}}"> {{category.name}}
    </label> -->

<div>
  <%= label_tag :categories %>
  <%= select_tag :categories, options_from_collection_for_select(@categories, :id, :title, @categories.map {|category| category.id}), multiple: true%>
</div>
