<!-- NAVBAR -->
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  
                  <h1 class="site-title"><a href="/" rel="home">EVENTITY.</a></h1>

                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Profile</a>
                        <ul class="sub-menu">
                        <% if current_user %>
                          <li class="menu-item"><a href="index.html"></a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>">View Profile</a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>/edit">Edit Profile</a></li>
                          <li class="menu-item"><a href="/logout">Log Out</a></li>
                        <% else %>
                          <li class="menu-item">
                            <a data-toggle="modal" href="/signup" data-target="#myModal"> Sign up</a>
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                 <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                     </div>
                                     <div class="modal-body"> 
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                       <button type="button" class="btn btn-primary">Save changes</button>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                          </li>
                          <li class="menu-item">    
                          <a data-toggle="modal" href="/login" data-target="#myModal"> Log in</a>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                               <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                   </div>
                                   <div class="modal-body">
                                  
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                          </li>
                        <% end %>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Events</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/events">All Upcoming Events</a></li>
                          <li class="menu-item"><a href="#">Event Categories</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/categories/1">Animals</a></li>
                              <li class="menu-item"><a href="/categories/2">Environment</a></li>
                              <li class="menu-item"><a href="/categories/3">Education</a></li>
                              <li class="menu-item"><a href="/categories/4">Arts and Culture</a></li>
                              <li class="menu-item"><a href="/categories/5">Community</a></li>
                              <li class="menu-item"><a href="/categories/6">Fundraising</a></li>
                            </ul>
                            <% if current_user %>
                              <li class="menu-item"><a href="/events/new">Add New Event</a></li>
                            <%end%>
                            <li class="menu-item"><a href="/events/random">**Feeling <i> spontaneous</i>?**</a></li>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/categories/8">Volunteer Programs</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
<h1> Edit Event Here </h1>

<%= form_tag "/events/#{@event.id}", multipart: true, method: :patch do %>

 <%= render "form_partial" %>
 <div>
  <%= label_tag :complete, "Complete?" %>
  <%= label_tag :complete, "True" %>
  <%= radio_button_tag(:complete, true) %>
  <%= label_tag :complete, "False" %>
  <%= radio_button_tag(:complete, false) %>
</div>
<%= submit_tag "Update Event" %>

<% end %>