<h6> There are <a data-toggle="modal" href="/user_events?event_id=<%= @event.id%>" data-target="#myModal"> <%= @event.users.length %></a> attending this event </h6>




<!-- button logic/ join and leave -->
<% if current_user.id == @event.hosted_by %>
    <button class="btn btn-default btn-lg">  <a href="/events/<%=@event.id%>/edit"> Edit Event </a> </button>
      <%= form_tag "/events/#{@event.id}", method: :delete do %>
        <input type="submit" value="DELETE">
      <% end %>
<% else %>
  <% if current_user.events.include?(@event) %>
    <%= form_tag "/user_events/#{@user_event.id}", method: :delete do %>
      <%= hidden_field_tag :event_id, @event.id %>
        <button type ="submit" class="btn btn-default btn-lg">Leave Event!</button>
    <% end %>
  <% else %>
    <%= form_tag "/user_events", method: :post do %>
      <%= hidden_field_tag :event_id, @event.id %>
        <button type ="submit" class="btn btn-default btn-lg">Join Event!</button>
    <% end %>
  <% end %>
<% end %>


<%= form_tag "/user_events/random", method: :get do %>
  <%= hidden_field_tag :event_id, @event.id %>
    <a href="/user_events/random"><button type ="submit" class="btn btn-default btn-lg">Connect with a user!</button></a>
<% end %>
  </div>
</div>
<br>
<br>




      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('<%=@category.image%>');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2><%=@event.title%><span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <article class="post format-standard hentry">
                    <header class="entry-header">
                      <div class="heading-title">
                        <h1 class="entry-title"><%=@event.title%></h1>
                      </div>
                      <div class="entry-meta">
                        <span class="posted-on">Posted on <%=@event.created_at%></span>
                        <span class="byline"> by <span class="author vcard"><a class="url fn n" href="/users/<%=@host.id%>"><%=@host.first_name%></a></span></span>
                        <span class="reading-estimation"><%=@event.users.length%> Attending</span>
                        <span class="reading-estimation"><%=@event.comments.length%> Comments</span>
                      </div><!-- .entry-meta -->
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                      <p><img src="<%=@event.avatar%>" alt="Keep this candle burn lighter together"></p>
                      <p><%=@event.description%></p>
                      
                    </div><!-- .entry-content -->

                    <footer class="entry-footer">
                      <span class="cat-links">Posted in <a href="/categories/<%=@category.id%>"><%=@category.title%></a></span>
                    </footer><!-- .entry-footer -->
                  </article><!-- .post -->

                <div class="col-md-4">
                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Comments</h2>
                    <ul>
                      <li>
                        <div class="popular-entry-container">
                        <% @event.comments.each do |comment| %>
                          <div class="entry-image">
                            <a href="/users/<%=comment.user.id%>"><img src="<%=comment.user.avatar%>" alt="#"></a>
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <%= comment.body%>
                            </h4>
                            <span class="entry-category"><a href="/users/<%=comment.user.id%>"><%=comment.user.full_name%></a></span>
                            <span class="entry-datetime"><%=comment.created_at%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                        <%end%>
                      </li>
                    </ul>
                  </section>
                </div>



                  <div id="comments" class="comments-area">
                    <div id="respond" class="comment-respond">
              
                      <div id="commentform" class="form-horizontal comment-form" novalidate="">
                        <div class="form-group">
                          <div class="col-sm-12">
                               <%= form_tag "#{@event.id}/comments", method: :post do %>
                            <div>
                            <input type="textarea" id="comment" class="form-control" rows="6" name="body" aria-required="true" placeholder="Write a comment... ">
                            </div>
                            
                          </div>
                        </div>
                        <p class="form-submit"> 
                          <input name="submit" type="submit" id="submit" class="btn btn-danish btn-lg btn-block" value="Submit">
                        </p>
                  
                      </div><!-- #commentform -->
                    </div><!-- #respond -->
                  </div><!-- #comments -->
                  <% end %>











                  <div class="related-posts">
                    <h3>You may also like</h3>
                    <div class="row">
                      <div class="col-md-3 col-sm-6">
                        <div class="post-container">
                          <div class="post-thumbnail">
                            <a href="single.html"><img src="/img/danish-image-post-01.jpg" alt="Conquered the rock with rock!"></a>
                          </div><!-- .post-thumbnail -->
                          <span class="post-meta"><a href="single.html">August 8, 2016</a></span>
                          <h2 class="post-title"><a href="single.html">Conquered the rock with rock!</a></h2>
                        </div><!-- .post-container -->
                      </div><!-- .col-md-3 -->
                      <div class="col-md-3 col-sm-6">
                        <div class="post-container">
                          <div class="post-thumbnail">
                            <a href="single.html"><img src="/img/danish-image-post-05.jpg" alt="Grow your own succulent"></a>
                          </div><!-- .post-thumbnail -->
                          <span class="post-meta"><a href="single.html">May 24, 2016</a></span>
                          <h2 class="post-title"><a href="single.html">Grow your own succulent anywhere</a></h2>
                        </div><!-- .post-container -->
                      </div><!-- .col-md-3 -->
                      <div class="col-md-3 col-sm-6">
                        <div class="post-container">
                          <div class="post-thumbnail">
                            <a href="single.html"><img src="/img/danish-image-post-03.jpg" alt="Beautiful forest"></a> 
                          </div><!-- .post-thumbnail -->
                          <span class="post-meta"><a href="single.html">March 12, 2016</a></span>
                          <h2 class="post-title"><a href="single.html">Beautiful forest at mount Sindoro</a></h2>
                        </div><!-- .post-container -->
                      </div><!-- .col-md-3 -->
                      <div class="col-md-3 col-sm-6">
                        <div class="post-container">
                          <div class="post-thumbnail">
                            <a href="single.html"><img src="/img/danish-image-post-04.jpg" alt="Do not leave your camera"></a>
                          </div><!-- .post-thumbnail -->
                          <span class="post-meta"><a href="single.html">June 24, 2016</a></span>
                          <h2 class="post-title"><a href="single.html">Do not leave your camera when traveling</a></h2>
                        </div><!-- .post-container -->
                      </div><!-- .col-md-3 -->
                    </div><!-- .row -->
                  </div><!-- .related-posts -->
                </div><!-- .col-md-8 -->



                <div class="col-md-4">
                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="<%=@host.avatar%>" alt="Danish Brown">
                      <div class="about-author-info">
                        <a href="/users/<%=@host.id%>"><h2 class="widget-title"><%=@host.full_name%></h2></a>
                        <span class="author-subtitle"><%=@host.location%></span>
                        <div class="author-description">
                          <p><%=@host.bio%></p>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="/conversations/new?user_id=<%=@host.id%>"><button type ="submit" class="btn btn-default btn-md">Message <%= @host.first_name %></button></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section><!-- .danish_widget_about -->

                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Comments</h2>
                    <ul>
                      <li>
                        <div class="popular-entry-container">
                        <% @event.comments.each do |comment| %>
                          <div class="entry-image">
                            <a href="/users/<%=comment.user.id%>"><img src="<%=comment.user.avatar%>" alt="#"></a>
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <%= comment.body%>
                            </h4>
                            <span class="entry-category"><a href="/users/<%=comment.user.id%>"><%=comment.user.full_name%></a></span>
                            <span class="entry-datetime"><%=comment.created_at%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                        <%end%>
                      </li>
                    </ul>
                </div><!-- .col-md-4 -->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->






<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Modal title</h4>
       </div>
       <div class="modal-body">
         
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
