<!-- NAVBAR -->
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  
                  <h1 class="site-title"><a href="/" rel="home">EVENTITY.</a></h1>

                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Profile</a>
                        <ul class="sub-menu">
                        <% if current_user %>
                          <li class="menu-item"><a href="index.html"></a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>">View Profile</a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>/edit">Edit Profile</a></li>
                          <li class="menu-item"><a href="/logout">Log Out</a></li>
                        <% else %>
                          <li class="menu-item">
                            <a data-toggle="modal" href="/signup" data-target="#myModal"> Sign up</a>
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                 <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                     </div>
                                     <div class="modal-body"> 
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                       <button type="button" class="btn btn-primary">Save changes</button>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                          </li>
                          <li class="menu-item">    
                          <a data-toggle="modal" href="/login" data-target="#myModal"> Log in</a>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                               <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                   </div>
                                   <div class="modal-body">
                                  
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                          </li>
                        <% end %>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Events</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/events">All Upcoming Events</a></li>
                          <li class="menu-item"><a href="#">Event Categories</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/categories/1">Animals</a></li>
                              <li class="menu-item"><a href="/categories/2">Environment</a></li>
                              <li class="menu-item"><a href="/categories/3">Education</a></li>
                              <li class="menu-item"><a href="/categories/4">Arts and Culture</a></li>
                              <li class="menu-item"><a href="/categories/5">Community</a></li>
                              <li class="menu-item"><a href="/categories/6">Fundraising</a></li>
                            </ul>
                            <% if current_user %>
                              <li class="menu-item"><a href="/events/new">Add New Event</a></li>
                            <%end%>
                            <li class="menu-item"><a href="/events/random">**Feeling <i> spontaneous</i>?**</a></li>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/categories/8">Volunteer Programs</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
<div class="container-fluid">
      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('<%=@categories.first.image%>');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2><%=@event.title%><span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <article class="post format-standard hentry">
                    <header class="entry-header">
                      <div class="heading-title">
                        <h1 class="entry-title"><%=@event.title%></h1>
                      </div>
                      <div class="entry-meta">
                        <span class="posted-on">Posted on <%=@event.created_at.strftime('%a %B %e, %Y ')%></span>
                        <span class="byline"> by <span class="author vcard"><a class="url fn n" href="/users/<%=@host.id%>"><%=@host.first_name%></a></span></span>
                        <span class="reading-estimation"><a data-toggle="modal" href="/user_events?event_id=<%= @event.id%>" data-target="#myModal"> <%= @event.users.length %></a> Attending</span>
                        <span class="reading-estimation"><%=@event.comments.length%> Comments</span>
                      </div><!-- .entry-meta -->
                    </header><!-- .entry-header -->
                    <div class="entry-content">
                      <p><img src="<%=@event.avatar%>" alt="Keep this candle burn lighter together"></p>
                      <h4><strong><%=@event.date.strftime('%a %B %e, %Y ')%></strong><br>
                      <strong><%=@event.start_time.strftime('%l:%M %p')%></strong> - <strong><%=@event.end_time.strftime('%l:%M %p ')%></strong></h4>
                      <p><i><%=@event.description%></i></p>               
                    </div><!-- .entry-content -->
                    <footer class="entry-footer">
                      <span class="cat-links">Posted in 
                      <% @categories.each do |category|%>
                      <a href="/categories/<%=category.id%>"><%=category.title%></a></span>, 
                      <%end%>
                    </footer><!-- .entry-footer -->
                  </article><!-- .post -->
                    <!-- button logic/ join and leave -->
                    <% if current_user.id == @event.hosted_by %>
                         <%= form_tag "/events/#{@event.id}/edit", method: :get do %>
                            <input type="submit" value="Edit">
                          <% end %>
                          <%= form_tag "/events/#{@event.id}", method: :delete do %>
                            <input type="submit" value="DELETE">
                          <% end %>
                      <% else %>
                      <% if current_user.events.include?(@event) %>
                        <%= form_tag "/user_events/#{@user_event.id}", method: :delete do %>
                          <%= hidden_field_tag :event_id, @event.id %>
                            <button type ="submit" class="btn btn-default btn-lg">Leave Event!</button>
                        <% end %>
                      <% else %>
                        <%= form_tag "/user_events", method: :post do %>
                          <%= hidden_field_tag :event_id, @event.id %>
                            <button type ="submit" class="btn btn-default btn-lg">Join Event!</button>
                        <% end %>
                      <% end %>
                    <%= form_tag "/user_events/random", method: :get do %>
                      <%= hidden_field_tag :event_id, @event.id %>
                        <a href="/user_events/random"><button type ="submit" class="btn btn-default btn-lg">Connect with a user!</button></a>
                    <% end %>
                  <% end %>
                      </div>
                    </div>
                    <br>
                    <br>
                </div> <!-- col-md-8 -->



                <div class="col-md-4">
                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="<%=@host.avatar%>" alt="Danish Brown">
                      <div class="about-author-info">
                        <a href="/users/<%=@host.id%>"><h2 class="widget-title"><%=@host.full_name%></h2></a>
                        <span class="author-subtitle"><%=@host.location%></span>
                        <div class="author-description">
                             <p><%=@host.bio%></p>
                          <a href="/conversations/new?user_id=<%=@host.id%>" class="more-link"><span class="moretext">Message</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section>
              </div> <!-- row -->
            </div> <!-- container -->



            <div class="container">
              <div class="row">
                <div clas="col-md-4">
                 <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Comments</h2>
                    <ul>
                    <% @event.comments.each do |comment| %>
                      <li>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <a href="/users/<%=comment.user.id%>"><img src="<%=comment.user.avatar%>" alt="#"></a>
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <%= comment.body%>
                            </h4>
                            <span class="entry-category"><a href="/users/<%=comment.user.id%>"><%=comment.user.full_name%></a></span>
                            <span class="entry-datetime"><%=comment.created_at%></span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                     <%end%>
                    </ul>
                  </section>
                </div> <!-- col-md-4 -->

                <div class="container">
                  <div class="row">
                  <div id="comments" class="comments-area">
                    <div id="respond" class="comment-respond">
              
                      <div id="commentform" class="form-horizontal comment-form" novalidate="">
                        <div class="form-group">
                          <div class="col-sm-12">
                               <%= form_tag "#{@event.id}/comments", method: :post do %>
                            <div>
                            <input type="textarea" id="comment" class="form-control" rows="6" name="body" aria-required="true" placeholder="Write a comment... ">
                            </div>
                            
                          </div>
                        </div>
                        <p class="form-submit"> 
                          <input name="submit" type="submit" id="submit" class="btn btn-danish btn-lg btn-block" value="Submit">
                        </p>
                  
                      </div><!-- #commentform -->
                    </div><!-- #respond -->
                  </div><!-- #comments -->
                  <% end %>
                  </div> <!-- roww -->
                 <div class="related-posts">
                    <h3>You may also like</h3>
                    <div class="row">
                      <div class="col-md-4 col-sm-10">
                        <div class="post-container">
                          <div class="post-thumbnail">
                            <a href="/events/<%=@random_event.id%>"><img src="<%=@random_event.avatar%>" alt="Eventity!"></a>
                          </div><!-- .post-thumbnail -->
                          <span class="post-meta"><%=@random_event.date%></span>
                          <h2 class="post-title"><a href="/events/<%=@random_event.id%>"><%=@random_event.title%></a></h2>
                        </div><!-- .post-container -->
                      </div><!-- .col-md-3 -->
                     </div><!-- .row -->
                  </div><!-- .related-posts -->
                </div><!-- .col-md-8 -->
              </div>
                <div class="col-md-4">
                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="<%=@host.avatar%>" alt="Danish Brown">
                      <div class="about-author-info">
                        <a href="/users/<%=@host.id%>"><h2 class="widget-title"><%=@host.full_name%></h2></a>
                        <span class="author-subtitle"><%=@host.location%></span>
                        <div class="author-description">
                             <p><%=@host.bio%></p>
                          <a href="/conversations/new?user_id=<%=@host.id%>" class="more-link"><span class="moretext">Message</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section>
            </div><!-- .container -->
          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->
</div>
      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->






<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Modal title</h4>
       </div>
       <div class="modal-body">
         
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
