<div ng-app="app">
  <div ng-controller = "ctrl" ng-init="setup()">
<h1> <%= @event.title %> </h1>

<h3> Info: </h3>

<%= @event.date.strftime("%a, %B %e") %>
<br>
<%= @event.start_time.strftime("%l:%M %p") %>
<br>
<%= @event.end_time.strftime("%l:%M %p") %>
<br>
<%= @event.address %>
<br>
<%= @event.description %>

<% if current_user.id == @event.hosted_by %>
    <button class="btn btn-primary">  <a href="/events/<%=@event.id%>/edit"> Edit Event </a> </button>
    <%= form_tag "/events/#{@event.id}", method: :delete do %>
    <input type="submit" value="DELETE">
  <% end %>
<% else %>

    <%= form_tag "/user_events/#{@user_event.id}", method: :delete do %>
        <button type ="submit" class="btn btn-default btn-lg">Leave Event!</button>
    <%= hidden_field_tag :event_id, @event.id %>
    <% end %>
    <%= form_tag "/user_events", method: :post do %>
      <%= hidden_field_tag :event_id, @event.id %>
        <button type ="submit" class="btn btn-default btn-lg">Join Event!</button>
    <% end %>
<% end %>


<%= form_tag "/user_events/random", method: :get do %>
      <%= hidden_field_tag :event_id, @event.id %>
  <a href="/user_events/random"><button type ="submit" class="btn btn-default btn-lg">Connect with a user!</button></a>
  <% end %>


  </div>
</div>

<script>

</script>