
<h1> <%= @category.title %> </h1>

<h4> <% @events.each do |event| %>
 <a href = '/events/<%= event.id %>'> <%= event.title %> </a>
  <br>
  <%= event.date %>
  <br>
  <%= event.description %>
  <br>
  <% end %>


